<table class="table table-striped table-sm">
  <thead>
    <tr>
      <ng-container *ngIf="columns$ | async as columns">
        <th *ngFor="let column of columns; trackBy: trackByColumn" scope="col">
          {{ column }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="data$ | async as data">
      <tr *ngFor="let element of data; index as i">
        <td>{{ element?.name }}</td>
        <td>{{ element?.email }}</td>
        <td>{{ element?.tel }}</td>
        <td>{{ element?.univers }}</td>
        <td>{{ element?.Organisation }}</td>
        <td>{{ element?.Statut }}</td>
        <td>{{ element?.CreartionDate }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
